@mixin flex-center ($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin button-theme($bg) {
  background: $bg;
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @if ($bg == #fff){
    color: #000;
  } @else {
    color: #fff;
  }
}



