$maincolor : #ff4d4d;
$padding: 20px;


.box{
  background-color: $maincolor;
  padding: $padding;
  color: white;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 10px;

  h2 {
    color: white;
    font-size: 22px;
  }

  
   p {
    color: #aaa;
    font-size: 16px;
  }

  input{
    cursor: pointer;
  }

  button{
    background-color: #ff4d4d;
  }
}