@font-face {
  font-family: yekan;
  src: url("/assets/font/yekan-font/yekan-regular.woff");
  src: url("/assets/font/yekan-font/yekan-regular.ttf");
}

* {
  font-family: yekan;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  width: 500px;
  height: 500px;
  border: 2px solid #333;
  background: #f5f5f5;
  gap: 10px;
}


.item {
  background-color: lightcoral;
  padding: 10px;
  /* min-width: 100px;
  min-height: 100px; */
}
