@font-face {
  font-family: yekan;
  src: url("/assets/font/yekan-font/yekan-regular.woff");
  src: url("/assets/font/yekan-font/yekan-regular.ttf");
}

:root {
  --primary-color: #58f7ff;
  --secondary-color: #3cff00;
  --tertiary-color: #ff8c69;
}

* {
  font-family: yekan;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: rightToLeft;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}


@keyframes rightToLeft {
  0% {
    left: 0;
  }

  50% {
    left: 250px
  }

  100% {
    left: 500px;
  }
}