@font-face {
  font-family: yekan;
  src: url("/assets/font/yekan-font/yekan-regular.woff");
  src: url("/assets/font/yekan-font/yekan-regular.ttf");
}

:root {
  --primary-color: #58f7ff;
  --secondary-color: #3cff00;
  --tertiary-color: #ff8c69;
}

* {
  font-family: yekan;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  background: #eee;
  padding: 10px;
}
.item {
  background: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
}




















.container {
  display: grid;
  grid-template: 100px 200px / 1fr 2fr;
}


.container {
  display: grid;
  grid-template-rows: 100px 200px;
  grid-template-columns: 1fr 2fr;
}

/* --------------- */


.container {
  display: grid;
  grid-template:
    "header header" 60px
    "sidebar main" 1fr
    "footer footer" 40px / 150px 1fr;
}